.details-drawer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 100vw;
  display: flex;
  justify-content: center;
  z-index: 300; }
  .details-drawer .whitespace {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    transition: background-color 1.0s ease;
    pointer-events: none; }
  .details-drawer .content {
    position: fixed;
    left: 135vw;
    width: 65vw;
    height: 100%;
    padding: 70px 0px 0px 0px;
    background-color: #f5f5f5;
    justify-content: flex-start;
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out; }
  .details-drawer .content.open {
    transform: translateX(-100vw);
    opacity: 1; }
  .details-drawer .header-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65vw; }
    .details-drawer .header-container .header {
      position: absolute;
      left: 0;
      height: 70px;
      width: 65vw;
      background: linear-gradient(135deg, #3e98c8, #405CA5);
      display: flex;
      align-items: center; }
      .details-drawer .header-container .header text {
        position: absolute;
        left: 70px;
        color: #ffffff;
        font-size: 26px;
        font-family: "BenchNine", sans-serif;
        font-weight: bold; }
  .details-drawer .details-drawer-back-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .details-drawer .details-drawer-back-button img {
    width: 30px; }
  .details-drawer .open {
    opacity: 1; }
  .details-drawer .whitespace.open {
    background-color: rgba(38, 42, 45, 0.5);
    display: block;
    pointer-events: auto; }
  .details-drawer .details-title {
    display: flex;
    justify-content: center; }
  .details-drawer .confirm-button {
    display: flex;
    height: 100px;
    width: 200px;
    border: 1px dashed black;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
  .details-drawer .question-input-text {
    display: flex;
    font-size: 42px;
    width: 80%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1); }
  @media (max-width: 1000px) {
    .details-drawer ul {
      padding: 10px; }
    .details-drawer .content {
      position: relative;
      width: 100%;
      left: 0px; }
    .details-drawer .content.open {
      left: 0px; }
    .details-drawer .header-container {
      width: 100%; }
      .details-drawer .header-container .header {
        width: 100%;
        left: 0px; } }

@media (max-width: 1000px) {
  .details-drawer .content {
    left: 100vw; } }

@media print {
  .details-drawer {
    display: block;
    width: auto;
    height: auto;
    overflow: visible; }
    .details-drawer .content {
      background-color: white; } }
