$white: #ffffff;
$black: #000000;

$input-background:                              #FFFFFF;
$input-border-color:                            transparent;
$input-placeholder:                             #f3f3f6;
$input-text:                                    #171a1d;
$input-label-color:                             #838383;
$error-color:                                   #ff0000;
$input-focus-border-color:                      #374db1;

// custom dropdown
$dropdown-background:                           #f3f3f6;
