#main {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.display_flex {
  display: flex;
}

.screen-container {
  width: 100%;
  padding-right: 132px;
  padding-left: 132px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1199px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media (max-width: 992px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.button-primary {
  height: 63px;
  border-radius: 2px;
  background-color: #fcd344;
  font-size: 17px;
  font-weight: 600;
  color: #252525;
  border: 0px;
  width: 100%;
  cursor: pointer;
  font-family: "Macho-Semi", sans-serif !important;
  @include flex;
  @include align-items(center);
  @include justify-content(center);
}
.button-transparent {
  height: 63px;
  line-height: 63px;
  border-radius: 2px;
  border: solid 1px #252525;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #252525;
  background-color: $white;
  cursor: pointer;
  font-family: "Macho-Semi", sans-serif !important;
  @include flex;
  @include align-items(center);
  @include justify-content(center);
}

// container width defined
.inner-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .inner-container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .inner-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .inner-container {
    max-width: 1140px;
  }
}






