@import './../../lib/constants/_globals';

.customer-dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 0px 0px;

  .dashboard-transition-group {
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }
}
