@import './../../lib/constants/_globals';

.tos-container {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  .paper {
    background-color: white;
  }

  .hidden {
    display: none;
  }

  .bolded {
    font-weight: 500;
  }

  .title {
    text-align: center;
    max-width: 700;
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-weight: 600;
    }

    p {
      font-size: 10pt;
      margin: 0% 15% 30px 15%;
    }
  }

  .back-button {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 45px;
    width: 105px;
    z-index: 99;
    border: 1px solid $white;
    border-radius: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-block {
    padding: 1% 5% 2% 5%;
    margin-left: auto;
    margin-right: auto;

    h3 {
      color: rgb(100, 100, 100);
      font-weight: 400;
      font-size: 18pt;
    }

    p {
      color: black;
      font-weight: 300;
    }
  }

  .link {
    color: black;
    text-decoration: underline;
  }

  .link:visited,
  .link:hover {
    color: darkgray;
  }

  .footer-section {
    text-align: center;

    p {
      font-size: 8pt;
    }
  }
}
