.error__container {
  padding-top: 10vh !important;
  display: flex;
  flex-direction: column;
  align-content: center;
  .error__container_image_wrapper {
    display: flex;
    justify-content: center;
  }
  .error__container_image {
    max-width: 100%;
    width: 560px;
    max-height: 300px;
    height: auto;
  }
  .error__container_button_wrapper {
    display: flex;
    justify-content: center;
  }
}
