.form-group {
  margin-bottom: 20px;
  position: relative;
  label {
    color: $input-label-color;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .form-control {
    width: 100%;
    border: 0px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding: 24px 0px 12px;
    font-size: 16px;
    font-family: "Macho-Semi" !important;
    color: #252525;
    &:focus-visible {
      outline: none;
    }
  }
  select {
    padding: 20px 0px 0px;
    min-width: 100%;
    min-height: 63px;
    border: 0px;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
    background: url(/src/assets/images/homepage/dropdown.png);
    background-repeat: no-repeat;
    background-position: right bottom 15px;
    font-size: 16px;
    font-weight: 600;
  }
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin: 0px -25px;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  .form-group {
    width: 100%;
    margin: 0px 25px 35px;
  }
}
.custom-checkbox {
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 7px;
      width: 6px;
      height: 12px;
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    &:checked + label:before {
      background-color: #486cfd;
    }
  }
  label {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    &:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border: 1px solid #486cfd;
    }
  }
}
.custom-radio-btn {
  input:checked,
  input:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  input:checked + label,
  input:not(:checked) + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #252525;
    margin-right: 42px;
    pointer-events: all;
  }
  input:checked + label:before,
  input:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 0px;
    border-radius: 100%;
    background: #f1f1f1;
  }
  input:checked + label:after,
  input:not(:checked) + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  input:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  input:checked + label:after {
    opacity: 1;
  }
  input:checked + label::before {
    background-color: #23a54b;
  }
}
// .form-control:focus , select:focus {
//   outline:none;
//   border-bottom:2px solid #5264AE;
// }
// .form-control:focus ~ label, .form-control:not(:placeholder-shown) ~ label {
//   top:-18px;
//   font-size:14px;
//   color:#5264AE;
// }
