@import 'lib/constants/_globals';

.app-body {
  background: linear-gradient(to right bottom, #3880fe, #3c7bfe, #4176fe, #4670fe, #4d6afd, #5165fd, #5560fd, #595bfc, #5b56fd, #5d50fd, #5f4afd, #6244fd);
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 0;
  position: absolute;
  // display: flex;
  // flex-direction: row;
  overflow: hidden;
  
  *:not(i):not(.info-icon-no-hover):not(.info-icon-hover):not(.font-icon) {
    font-family: 'Macho Regular', sans-serif;
  }

  .gradient-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    // background: linear-gradient(135deg, $color-marketing-transparent-blue, $color-marketing-transparent-purple);
    background-image: linear-gradient(to right bottom, #3880fe, #3c7bfe, #4176fe, #4670fe, #4d6afd, #5165fd, #5560fd, #595bfc, #5b56fd, #5d50fd, #5f4afd, #6244fd);
  }

  video.background-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.4;
    filter: grayscale(45%) blur(10px);
    background-image: url('assets/images/marketing/video_placeholder.jpg');
    background-size: contain;
    background-position: center;
    pointer-events: none;

    &::-webkit-media-controls,
    &::-webkit-media-controls-enclosure {
      display: none !important;
    }

    @-moz-document url-prefix() {
      filter: unset !important;
      opacity: 0.2;
    }
  }

  .app-body-transition-group {
    flex: 1;
    display: flex;

    .switch-container {
      width: 100%;
      // display: flex;
      // justify-content: center;
    }
  }
}

.btn-disabled {
  opacity: 0.5;
}
